%div.sidebar
  %div.sidebar__user-container
    %div.sidebar__user-container__name
      しゅうと
    %div.sidebar__user-container__icon
      = link_to root_path do
        %i.fa.fa-pencil-square-o
      = link_to root_path do
        %i.fa.fa-cog

  %div.sidebar__group-container

    %div.sidebar__group-container__name
      fffffffffffffffffffffffffffffffffffffffffffffffvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

    %div.sidebar__group-container__latest-message
      ffffffffffffffffffffffffffff


    %div.sidebar__group-container__name
      fffffffffffffffffffffffffffffffffffffffffffffffvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

    %div.sidebar__group-container__latest-message
      fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
