%div.wrapper
  = render 'groups/index'

  %div.chat-main
    %div.main-header
      %div.main-header__left-box
        %p.main-header__left-box__current-group
          チームD
        %p.main-header__left-box__member-list
          Member：しゅうと
      %div.main-header__edit-btn
        = link_to "Edit", root_path, :style=>"color: #38aef0;"
    %div.messages
      %div.message
        %div.message-upper-info
          %p.message-upper-info__talker
            しゅうと
          %p.message-upper-info__date
            2019/03/29(Fri) 10:11:10
        %div.message__text
          ttttttttttttttttttttttttttttttttttt
      %div.message
        %div.message-upper-info
          %p.message-upper-info__talker
            しゅうと
          %p.message-upper-info__date
            2019/03/29(Fri) 10:11:10
        %div.message__text
          ttttttttttttttttttttttttttttttttttt

    %div.form
      = form_for @message, url: groups_path, class: "new_message" do |f|
        %div.input-box
          =f.text_field :body, placeholder: "type a message", class: "input-box__text"
          %label.upload-label{for: "upload-icon" , class: "input-box__image"}
            %i.fa.fa-picture-o
            = f.file_field :image, id: "upload-icon", class: "file-field"
        =f.submit "Send", class: "send-btn"



