$color-white: #ffffff;
$color-grey: #999999;
$color-current-group: #333;
$color-message: #434a54;
$background-color-skyblue: #38aef0;
$background-color-orange: #f35500;
$background-color-side-header: #253141;
$background-color-group: #2f3e51;
$background-color-form: #ddd;


